Repository Vaskivskyi/ha-asusrouter, pull requests merged in 2023-03, with the labels that each got.

#563 Use menu in options flow
  custom_components/asusrouter/config_flow.py
  custom_components/asusrouter/strings.json
  custom_components/asusrouter/translations/cs.json
  custom_components/asusrouter/translations/en.json
  custom_components/asusrouter/translations/es.json
  custom_components/asusrouter/translations/fr.json
  custom_components/asusrouter/translations/nl.json
  custom_components/asusrouter/translations/pt-BR.json
  custom_components/asusrouter/translations/sk.json
  custom_components/asusrouter/translations/uk.json
Labels: enhancement, config_flow

#566 Run checks on PR edit
  .github/workflows/build.yaml
Labels: github

#565 Sort config and options flows
  custom_components/asusrouter/config_flow.py
  custom_components/asusrouter/const.py
  custom_components/asusrouter/strings.json
  custom_components/asusrouter/translations/cs.json
  custom_components/asusrouter/translations/en.json
  custom_components/asusrouter/translations/es.json
  custom_components/asusrouter/translations/fr.json
  custom_components/asusrouter/translations/nl.json
  custom_components/asusrouter/translations/pt-BR.json
  custom_components/asusrouter/translations/sk.json
  custom_components/asusrouter/translations/uk.json
Labels: enhancement, refactoring, config_flow

#567 Use menu in config flow
  custom_components/asusrouter/config_flow.py
  custom_components/asusrouter/sensor.py
  custom_components/asusrouter/strings.json
  custom_components/asusrouter/translations/cs.json
  custom_components/asusrouter/translations/en.json
  custom_components/asusrouter/translations/es.json
  custom_components/asusrouter/translations/fr.json
  custom_components/asusrouter/translations/nl.json
  custom_components/asusrouter/translations/pt-BR.json
  custom_components/asusrouter/translations/sk.json
  custom_components/asusrouter/translations/uk.json
Labels: enhancement, config_flow

#568 Skip credentials check when not changed
  custom_components/asusrouter/config_flow.py
Labels: enhancement, config_flow

#569 Update supported devices
  README.md
Labels: documentation

#571 feat(translations) Update spanish translations
  custom_components/asusrouter/translations/es.json
Labels: translation

#574 Updated translations (Portuguese)
  custom_components/asusrouter/translations/pt-BR.json
Labels: translation
